/**
 * External Dependencies
 */

/**
 * WordPress Dependencies
 */

 /**
 * Internal Dependencies
 */

// Example using the editor.BlockEditorSettings hook
const filterEditorSettings = ( props ) => {
	console.log( 'props', props );
};

const name = 'filter-editor-settings';

// pass an array of filters using the object structure below
const filters = [
	{
		hookName: 'editor.BlockEditorSettings',
		namespace: '{{slug}}/filter-editor-settings',
		functionName: filterEditorSettings,
	},
];

export { name, filters };
