/**
 * External Dependencies
 */

/**
 * WordPress Dependencies
 */
import { __ } from '@wordpress/i18n';
import { BaseControl } from '@wordpress/components';
import { BlockControls, ColorPalette, InspectorControls } from '@wordpress/block-editor';

/**
 * Internal Dependencies
 */
import icons from '../../utils/icons';
const pkg = require( '../../../package.json' );
const slug = pkg.config.slug;

function Controls( props ) {
	const {
		setAttributes,
		className,
		style,
		attributes: {
			// put attribute key names here to use them
		},
	} = props;

	return(

	)
}

export default Controls;