/**
 * External Dependencies
 */

 /**
 * WordPress Dependencies
 */
import { __ } from '@wordpress/i18n';

 /**
 * Internal Dependencies
 */
 
const Plugin = ( props ) => {
	const {

	} = props;

	return(

	);
};

const name = '{{slug}}';
const settings = {
	icon: 'wordpress',
	render: Plugin,
}

export { name, settings };
